@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Lora&family=Righteous&family=Roboto+Condensed:wght@300;400&family=Sarala:wght@400;700&family=Secular+One&family=Sofia+Sans+Condensed:wght@500&family=Work+Sans&display=swap');

:root {
   --primeira-cor: #0A1128;
   --cor-branca: #FFFFFF;
   --cor-cinza: #EEEEEE;
   --gap: 3rem;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   font-size: 10px;
   scroll-behavior: smooth;
}

body {
   font-family: 'Lora', serif;
   font-size: 23px;
   color: var(--primeira-cor);
   line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Righteous', cursive;
}

h1 {
   font-size: 60px;
   color: var(--primeira-cor);
}

h2 {
   font-size: 60px;
   margin-bottom: 50px;
   line-height: 1.2;
}

p {
   margin-bottom: 30px;
}

a {
   text-decoration: none;
   color: inherit;
}

.conteudo-principal {
   max-width: 1200px;
   margin: 0 auto;
   padding: 100px var(--gap);
}

.section {
   min-height: 100vh;
}

.principal {
   background: url('../img/confetti-doodles.svg');
   background-size: cover;
   background-position: center center;
   color: white;
}

.menu {
   background: var(--cor-branca);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   border-bottom: 1.5px solid var(--cor-cinza);
   z-index: 1;
}

.espaco-menu {
   height: 62px;
}

.main-bg {
   background: var(--cor-branca);
   color: var(--primeira-cor);
}

.menu-principal {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 0;
   padding-bottom: 0;
}

.menu h1 {
   font-size: 23px;
}

.menu-principal ul {
   display: flex;
   list-style: none;
}

.menu-principal ul li a {
   display: block;
   padding: 20px;
   font-size: 18px;
   font-family: 'Sofia Sans Condensed', sans-serif;
   color: var(--primeira-cor);
}

.conteudo-inicio {
   position: relative;
   display: grid;
   grid-template-columns: 1fr 1.5fr;
   gap: var(--gap);
   min-height: 100vh;
}

.inicio-texto, .inicio-img {
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
}

.intro-texto h2 {
   font-size: 55px;
   margin-bottom: 50px;
   line-height: 1.3;
}

.inicio-img img {
   max-width: 100%;
   height: auto;
}

.conteudo-intro {
   max-width: 640px;
   display: flex;
   /* flex-flow: column wrap; */
   flex-direction: column;
   flex-wrap: nowrap;
   text-align: center;
   justify-content: center;
   min-height: 100vh;
}

.conteudo-top3 {
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   min-height: 100vh;
}

.top3-titulo {
   margin-bottom: 20px;
}

.top3-descricao {
   padding-bottom: 50px;
}

.grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: var(--gap);
   counter-reset: contador-grid;
}

.grid h3 {
   font-size: 30px;
   position: relative;
   padding-left: 65px;
   padding-bottom: 20px;
}

.grid h3::before {
   counter-increment: contador-grid;
   content: counter(contador-grid);
   position: absolute;
   font-size: 80px;
   font-style: italic;
   top: -40px;
   left: -20px;
   transform: rotate(5deg);
}

.galeria-img {
   width: 100%;
   max-width: 360px;
   max-height: 360px;
   overflow: hidden;
}

.galeria-img img {
   transition: all 300ms ease-in-out;
}

.galeria-img img:hover {
   transform: translate(3%) scale(1.2);
}

.tabela-responsiva {
   overflow: hidden;
   overflow-x: auto;
}

table {
   min-width: 360px;
   width: 100%;
   border-collapse: collapse;
}

table caption {
   text-align: left;
   font-style: italic;
   font-size: 15px;
}

table td, table th {
   padding: 5px;
   border: 1px solid var(--cor-cinza);
   text-align: left;
}

tfoot td {
   background: var(--cor-cinza);
}

.contato-form {
   grid-column: span 2;
}

.contato-form .conjunto {
   border: none;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: var(--gap);
}

.conjunto legend {
   font-size: 15px;
   font-style: italic;
}

.formulario label {
   display: block;
   margin-bottom: 10px;
}

.formulario {
   flex: 1 1 320px;
}

.formulario input,
.formulario textarea {
   border: none;
   background: var(--cor-branca);
   padding: 15px 20px;
   width: 100%;
   font-size: 30px;
   outline: none;
}

.formulario input:focus,
.formulario textarea:focus {
   box-shadow: 0 0 15px 8px #2a7b3b;
}

.conjunto :nth-child(5) {
   width: 100%;
   flex: 1 1 100%;
}

.formulario button {
   border: 5px solid;
   background: none;
   color: var(--cor-branca);
   padding: 15px 20px;
   font-size: 25px;
   transition: all 300ms ease-in-out;
   cursor: pointer;
}

.formulario button:hover {
   background: var(--cor-branca);
   color: var(--primeira-cor);
}

.formulario button:active {
   background-color: #a3a6af;
}

.formulario button:focus {
   box-shadow: 0 0 15px 8px #2a7b3b;
}

.formulario::placeholder {
   color: #a3a6af;
}

.footer {
   text-align: center;
   font-size: 16px;
}

.footer p {
   margin: 0;
   padding: 30px;
}

.close-menu {
   display: none;
}

.back-top {
   position: fixed;
   bottom: 20px;
   right: 20px;
   width: 50px;
   height: 50px;
   background: #C0C0C0;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   border: 1px solid var(--primeira-cor);
}

@media (max-width: 800px) {
   .conteudo-inicio, .grid {
      grid-template-columns: 1fr;
   }
   
   .galeria-img {
      width: 100%;
      max-width: 100%;
      max-height: 100%;
   }

   .galeria-img img {
      width: 100%;
   }

   .conteudo-top3 {
      display: block;
   }

   .menu {
      bottom: 0;
      text-align: center;
      display: none;
   }

   .menu-principal, .menu-principal ul {
      flex-direction: column;
      justify-content: center;
   }

   .menu-principal {
      height: 100vh;
   }


   .close-menu-label::after {
      content: '☰';
      position: fixed;
      top: 20px;
      right: 20px;
      z-index: 2;
      background: var(--primeira-cor);
      color: var(--cor-branca);
      font-size: 30px;
      line-height: 30px;
      height: 30px;
      width: 30px;
      text-align: center;
      padding: 5px;
      cursor: pointer;
   }

   .close-menu:checked~.menu {
      display: block;
   }
   .close-menu:checked~.close-menu-label::after {
      content: '×'
   }

   .espaco-menu {
      display: none;
   }
}